body {
    font-family: 'Raleway', sans-serif;
    padding-top: 70px;
    color: #fff;

    background: #a8c7e0 url("../img/body-bg.png");
}



a {
    color: #00d1b2;
}

a:hover {
    text-decoration: none;
    color: #EC7063;
    
}

a:focus{
    color: #EC7063;
}
 
.pull-left li{

    color: #00d1b2;

}



/*.navbar-brand,
.navbar-nav li a {
    padding: 25px;
}*/

.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.navbar-brand a{
    color: #EC7063;
}
header .navbar-default, .post-item, .widget, footer, .post-author, .post-comments {
    background: #fff;
}

.post-item {
    margin-bottom: 40px;
    color: #525252;
    
}

.post-item a{
    color: #00d1b2;
}

.post-item a:hover{
    text-decoration: none;
    color: #EC7063;
    cursor: pointer;
}

.post-item a:focus{
    text-decoration: none;
    color: #EC7063;
    cursor: pointer;
}
.post-item p {
    font-size: 16px;
    /*line-height: 1.3;*/
}

.post-item.post-detail, .post-author, .post-comments {
    margin-bottom: 20px;
}

.post-item-image {
    max-width: 100%;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 10px;
}

.post-item-image img {
    width: 100%;
    border: none;
}

.post-item-body, .post-author, .post-comments {
    border: 1px solid #EC7063;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
    /*border: 1px solid #e7e7e7;*/
}

.post-item-body h2, .post-item-body h1 {
    /*font-weight: bold;
    letter-spacing: 1px;*/
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
    letter-spacing: -1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.padding-10 {
    padding: 20px;
}

.post-item-body .post-meta {
    border-top: 1px solid #e7e7e7;
    overflow: hidden;
    font-size: 13px;
    /*background: #fcfcfc;*/
}

.post-meta.no-border {
    border-top: none;
    padding: 15px 0 30px;
    border-radius: 10px;
}

.post-item-body .post-meta a {
    color: 
    #EC7063;
}

.post-item-body .post-meta a:hover {
    color:#00d1b2;
    
}

ul.post-meta-group {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul.post-meta-group li {
    /*border-right: 1px dotted #e9e9e9;*/
    float: left;
    /*list-style: outside none none;*/
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
}

ul.post-meta-group li i {
    float: left;
    /*font-size: 12px;*/
    margin: 2px 5px 0 0;
}

.post-author {
    font-size: 13px;
    /*background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;*/
}

.media img {
    border-radius: 100%;
    margin-right: 10px;
    width: 99px;
}

.media p{
    color: #333;
}

.avatar {
    border-radius: 50%;
    max-width: 32px;
    float: left;
    margin-right: 20px;
}

.comment-author-meta h4 {
    font-weight: 700;
    font-size: 20px;
}

.post-author h4 {
    font-weight: 600;
}

.post-author-count {
    margin: 10px 0 15px;
}

.comment-heading {
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

/*.comment-heading h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}*/

.post-comments {
    padding-top: 10px;
}
.post-comments h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

ul.comments-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.comments-list-children {
    font-size: 0.9em;
    list-style: outside none none;
    padding: 0;
}

li.comment-item {
    background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 15px 0;
    padding: 10px 20px;
}

li.comment-item:first-child {
    margin-top: 0;
}

.widget, .search-widget {
    margin-bottom: 40px;
}

.widget {
    border: 2px solid #F6DDCC;
    border-radius: 50px;
    /*border: 1px solid transparent;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
}

.widget-heading {
    padding: 20px;
    border-bottom: 1px solid #e7e7e7;
    background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
}

.widget-heading h4 {
    margin: 0;
    color: #888;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 600;
}

ul.categories, ul.popular-posts, ul.tags {
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
}

ul.categories li {
    border-bottom: 1px solid #e7e7e7;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

ul.categories li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

ul.popular-posts li {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

ul.popular-posts li:last-child {
    margin-bottom: 0;
}

ul.popular-posts li img {
    float: left;
    margin-right: 15px;
}

ul.popular-posts li span, .post-author-count a {
    color: #aaa;
}

.popular-posts .post-image {
    float: left;
    margin-right: 20px;
    position: relative;
    vertical-align: middle;
    width: 100px;
}

.popular-posts .post-body {
    overflow: hidden;
}

.popular-posts .post-body h6 {
    font-size: 16px;
    /*font-weight: bold;*/
    color: #999;
}

.popular-posts .post-image img {
    width: 100%;
}

.post-body .post-meta {
    color: #aaa;
    font-size: 13px;
}

.comment-footer {
    background: #fff;
    border-top: 1px solid #e7e7e7;
}

ul.tags li {
    display: inline-block;
    margin: 9px 2px;
}

ul.tags li a {
    border: 1px solid #e7e7e7;
    color: #333;
    font-size: 13px;
    padding: 5px 8px;
    text-decoration:none;
}

ul.tags li a:hover {
    background-color: #fcfcfc;
    /*border-color: transparent;*/
}

footer {
    border-top: 1px solid #e7e7e7;
    padding: 15px 0;
}

footer p {
    margin-bottom: 0;
    font-size: 13px;
}

ul.social-icons {
    float: right;
    list-style: none;
    margin: 0;
}

ul.social-icons li {
    display: inline;
    margin: 0 5px;
}

.form-control, .btn {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.form-group.required label:after {
  content:" *";
  color:red;
}

span.required {
    color: red;
}

.page-not-found img{
    width: 600px;
    height: 400px;
    margin-left: 370px;

    display: block;
    border-radius:20px;

}

.error{
    color: #000;
    border:  #EC7063;
    margin-left: 530px;


}
.error p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   

}
.error p:hover{
  font-size: 30px;
}

.error h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-left: 40px;
}

.error button{
    border: #00d1b2;
    border-radius: 5px;
    background: #00d1b2;
    text-decoration: none;
    width: 300px;
    height: 50px;
}

.error button:hover,
.error button:focus
{
    
    border-color: #EC7063;
    border:3px;
    border-radius: 20px;
    background: #EC7063;
    text-decoration: none;
    cursor: pointer;
    width: 300px;
    height: 50px;
}

.error a:hover{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
}